<%- include('components/header.ejs') %>

<h1>Welcome to HomePage</h1>
<label for="">List of Products</label>
<ul>
  <% products.forEach(product => { %>
  <li><%= product.title %></li>
  <% }) %>
</ul>
<a href="/about">About Page</a>
